article {
	color: #808000;
	background-color: #FAFAD2;
	border-style: solid;
	border-color: #C71585; 
	border-width: 5px; 
	padding: 12px}

#leadgraf {font-size: 140%; 
	font-weight: bold;}

#byline {font-size: 80%;
		font-style: italic;}

#blurb {font-size: 90%;
font-style: italic;
font-weight: lighter}

h1 {color: #800000;
font-style: oblique;
line-height: 140%}

h2 {color: #800000;
font-weight: lighter}

h3 {color: #2E8B57;}