article {
	color: Dimgray;
	background-color: Gainsboro;
	line-height: 140%; 
	border-style: solid;
	border-color: Gray; 
	border-width: 5px; 
	padding: 12px}

#leadgraf {font-size: 140%; 
	font-weight: bold;}