h1 {color: white; padding: 5px}

div {
width: 600px; height: 300px;
	background-image: URL("http://www.themusiczoo.com/images/12-08-11/2796_Fender_Custom_Ultimate_Relic_69_Stratocaster_Black_R60935_1.jpg")}